@font-face {
  font-family: "iconfont"; /* Project id 3795597 */
  src: url('iconfont.woff2?t=1669600061347') format('woff2'),
       url('iconfont.woff?t=1669600061347') format('woff'),
       url('iconfont.ttf?t=1669600061347') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianjia:before {
  content: "\e600";
}

.icon-qiehuanyuyan:before {
  content: "\e769";
}

